@model List<RestaurantWebsite.Models.MenuItem>


@if (Model != null && Model.Any())
{

    <section class="special-slider-section">

        <div class="container">

            <h2 class="section-title">
                Today's Special
            </h2>


            <div id="specialSlider"
                 class="carousel slide"
                 data-bs-ride="carousel"
                 data-bs-interval="4000">


                <div class="carousel-inner">


                    @for (int i = 0; i < Model.Count; i++)
                    {

                        <div class="carousel-item @(i == 0 ? "active" : "")">


                            <div class="special-slide-card">


                                <div class="special-media">


                                    @if (Model[i].ImageData != null)
                                    {

                                        <img src="@Url.Action("GetImage", "Menu", new { id = Model[i].Id })"
                                             alt="@Model[i].Name">

                                    }


                                </div>


                            </div>


                        </div>

                    }


                </div>



                <button class="carousel-control-prev"
                        type="button"
                        data-bs-target="#specialSlider"
                        data-bs-slide="prev">


                    <span class="carousel-control-prev-icon"></span>


                </button>




                <button class="carousel-control-next"
                        type="button"
                        data-bs-target="#specialSlider"
                        data-bs-slide="next">


                    <span class="carousel-control-next-icon"></span>


                </button>



            </div>


        </div>


    </section>

}
